/* google fonts files */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* banner files */

.banner{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;  
    width: 1200px;
height: 600px;
margin: 50px 70px 120px 70px;
border: none;
border-radius: 16px;
}


.banner-items{
    padding: 100px 300px;
}

.banner-topic{
    color: #fff;
text-align: center;
font-family: 'Merriweather', serif;
font-size: 32px;
font-weight: 400;
margin-bottom: 0;
}

.banner-title{
    color: #fff;
text-align: center;
font-family: 'Merriweather', serif;
font-size: 70px;
font-style: normal;
font-weight: 900;
margin-top: 16px;
}

/* offer files */

.offer{
    color: #050505;
text-align: center;
margin-top: 120px;
margin-bottom: 120px;

}

.offer-title{
    color: #F00;
font-family: Inter;
font-size: 88px;
font-weight: 700;
margin-bottom: 0;
}

.offer-info{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-top: 45px;
margin-bottom: 0;
}

.offer-categories{
    color: #070211;
font-family: Inter;
font-size: 48px;
font-weight: 700;
margin-top: 15px;
margin-bottom: 48px;
}

/* Midnight party files */

.party-banner{
    display: flex;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 16px;
    margin: 120px 70px;
    padding: 0 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.party-content{
    width: 70%;
}
.party-title{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
letter-spacing: 7.04px;
margin-top: 0px;
margin-bottom: 0px;
}

.party-description{
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-weight: 400;
margin-top: 24px;
margin-bottom: 0;
}

.btn-primary{
    margin-top: 48px;
    border-radius: 5px;
    background: #F00;
    color: #FFF;
    padding: 16px 32px;
    border: 0;    
font-family: Inter;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;

}

.btn-primary:hover{
        border: 2px solid #F00;
        border-radius: 5px;
        background-color: #FFF;
        color: #F00;
}
.party-pic{
    padding-top: 72px;
    padding-left: 35px;
    padding-bottom: 72px;
}

/* location files */

.location{
    text-align: center;
    padding: 100px 300px 214px 300px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 120px 70px 0px 70px;
    border: none;
    border-radius: 16px;
}

.location-description{
    color: #070211;
font-family: Inter;
font-size: 28px;
font-weight: 600;
margin: 5px;

}

.location-item{
    color: #F00;
}

/* Coming Soon files */

.coming-content{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin: 120px 70px;
    align-items: center;
}

.coming-column{
    width: 55%;
    margin: 0;
    
}

.coming-offer{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: 0px;
}

.coming-title{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin-top: 16px;
margin-bottom: 0;
}

.coming-description{
    margin-top: 22px;
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
}
.coming-party-image{
    border: 10px solid red;
    border-radius: 463px;
    padding: 20px;
    width: 300px;
    height: 300px;
}

.coming-year{
    color: #F00;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 0;
}

/* holiday files */

/* holiday content */

.holiday{
    margin: 120px 70px;
}
.holiday-content{
    text-align: center;
}

.holiday-info{
    color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: 0;
}

.holiday-title{
    color: #070211;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
margin-top: 16px;
margin-bottom: 0;
}

.holiday-item{
    color: #F00;
}
.holiday-description{
    padding: 0 266px;
    margin: 28px 0 64px 0;
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 500;
}

/* holiday visuals files */

.holiday-visuals{
   
    background-image: url('/resources/Group\ 101.png');
    background-repeat: no-repeat;
    background-size: cover; 
    width: 1200px;
    height: 600px;
    margin-bottom: 0;
} 

/* Portfolio files */

.portfolio{
    display: flex;
    flex-wrap: wrap;
    margin: 120px 70px;
    
}

.portfolio-info{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: 0;
}

.portfolio-title{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
margin-top: 16px;
margin-bottom: 0;
}

.portfolio-description{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
}
.portfolio-visual img{
    align-items: center;
    justify-content: space-around;
    width: 380px;
    padding: 5px;
    transition: ease-in 0.1s; 
}
.portfolio-image:hover{
    width: 385px;
    border-radius: 16px;
    background-color: rgb(255, 104, 104);
}

/* Subscribe files */

.subscribe{
    border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
    text-align: center;
    margin: 0 70px 0 70px;
    padding: 150px ;
}

.subscribe-mail{
    margin-bottom: 0;
}
.subscribe-title{
    color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
margin-top: 16px;
margin-bottom: 0;
}

.subscribe-description{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
margin-top: 40px;
margin-bottom: 0;
}

.subscribe-box{
    margin-top: 48px;
    align-items: center;
}

.subscribe-input{
    border-radius: 50px 0px 0px 50px;
background: #FFF;
padding: 16px 60px 12px 20px;
margin-right: 0;
border: none;
}

.subscribe-button{
    margin-left: -5px;
    border-radius: 0px 50px 50px 0px;
    padding: 10px 24px 10px 24px;
background: #F00;
color: #fff;
border: none;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 18px;
font-weight: 600;
text-transform: capitalize;
}

.subscribe-button:hover{
    background-color: #FFF;
    border: 2px solid #F00;
    color: #F00;
}

/* footer section */
.footer-content{
    background-color: #070211;
    margin-top: 120px;
    padding: 90px 70px;
}

.footer-description{
    display: flex;
    justify-content: space-between;
    padding: 100px 70px 50px 70px;
}
.footer-address{
    width: 45%;
    color: #FFF;
font-family: Inter;
font-size: 20px;
font-weight: 500;
}

.footer-contact{width: 45%;
color: #FFF;
font-family: Inter;
font-size: 20px;
font-weight: 500;
}